---
import { Image, Picture, type LocalImageProps } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import titleClean from "../images/title-clean.webp";
import ProgressBar from "../components/ProgressBar.astro";
import { fetchTranslationPercentage } from "../api";
import chapter1a from "../images/chapters/1.webp";
import chapter1b from "../images/chapters/2.webp";
import chapter2a from "../images/chapters/3.webp";
import chapter2b from "../images/chapters/4.webp";
import chapter3a from "../images/chapters/5.webp";
import chapter3b from "../images/chapters/6.webp";
import chapter3c from "../images/chapters/7.webp";

const chapterNotTranslated = "Pas encore traduit";
const chapterSizes: Partial<LocalImageProps> = {width: 300, height: 300};

const translationPercent = await fetchTranslationPercentage();
---

<Layout
	title="Your Turn To Die en français"
	description="Your Turn To Die en français est un projet communautaire visant à traduire le roman visuel écrit par Nankidai."
>
	<Picture
		src={titleClean}
		formats={['avif', 'webp']}
		alt="Écran titre de Your Turn To Die"
	/>

	<div class="translation-progress">
		<span id="translationProgressText">Traduit à <span>{translationPercent}&nbsp;%</span></span>
		<ProgressBar progress={translationPercent} style={{ height: "1em" }} aria-labelledby="translationProgressText" />
	</div>
	<p>
		<em translate="no">Your Turn To Die</em> est un visual novel d'aventure et d'horreur développé par Nankidai.<br>
		<em>yttd.fr</em> est une initiative communautaire afin de traduire l'intégralité du jeu en français.
	</p>

	<p>
		Il s'agit d'un jeu d'horreur et d'aventure à choix multiples.
		Vos choix affecteront directement l'histoire et la fin que vous obtiendrez !
	</p>

	<p class="warning">
		AVERTISSEMENT : Ce jeu aborde des sujets sensibles et contient du contenu choquant comme le sang, le gore ou la mort.
	</p>

	<blockquote>
		En rentrant tard chez elle des cours, Sara Chidouin réalise qu'il s'est passé quelque chose de grave.<br>
		À son réveil, elle se trouve piégée avec son ami Joe et 9 autres personnes dans un endroit mystérieux.<br>
		Placés dans des situations de vie ou de mort, ils doivent réussir à se mettre d'accord sur quoi faire&hellip;<br>
		et sur qui devrait mourir.<br>
	</blockquote>

	<h2>Chapitres</h2>
	<nav class="chapters">
		<figure>
			<Image src={chapter1a} alt="" {...chapterSizes} />
			<figcaption>Chapitre 1, partie une</figcaption>
		</figure>
		<figure>
			<Image src={chapter1b} alt="" {...chapterSizes} />
			<figcaption class="pixel">Chapitre 1, partie deux</figcaption>
		</figure>
		<figure>
			<Image src={chapter2a} alt="" {...chapterSizes} />
			<figcaption>Chapitre 2, partie une</figcaption>
		</figure>
		<figure class="not-translated" title={chapterNotTranslated}>
			<Image src={chapter2b} alt="" {...chapterSizes} />
			<figcaption>Chapitre 2, partie deux</figcaption>
		</figure>
		<figure class="not-translated" title={chapterNotTranslated}>
			<Image src={chapter3a} alt="" {...chapterSizes} />
			<figcaption class="pixel">Chapitre 3, partie une, section A</figcaption>
		</figure>
		<figure class="not-translated" title={chapterNotTranslated}>
			<Image src={chapter3c} alt="" {...chapterSizes} />
			<figcaption>Chapitre 3, partie une, section B</figcaption>
		</figure>
	</nav>

	<h2>Contribution</h2>
	<p>
		Étant un projet libre, afin de contribuer, il est aussi simple que de se connecter à notre <a href="/contribuer/">plateforme de traduction</a>.<br>
		Que cela soit en langue, en graphie ou en développement, votre contribution est toujours appréciée !
	</p>
</Layout>

<style lang="scss">
	@import "../styles/_colors.scss";

	img {
		margin-top: 2em;
	}

	.translation-progress {
		margin: 3em 8em;

		@media (max-width: $medium) {
			margin-left: 0.5em;
			margin-right: 0.5em;
		}

		span {
			color: $textMuted;

			span {
				color: $gold;
			}
		}
	}

	blockquote {
		display: block;
		margin: 1em 2em;
		font-style: italic;
		line-height: 1.7em;
	}

	.chapters {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		text-wrap: nowrap;

		figure {
			display: flex;
			flex-direction: column;

			img {
				width: 15ch;
			}

			figcaption {
				color: $gold;
				margin-top: 0.2em;
				font-weight: 200;
				letter-spacing: 0.1em;

				&.pixel {
					image-rendering: crisp-edges;
				}
			}

			&.not-translated {
				img {
					filter: grayscale(1) blur(2px);
					transition: filter 0.25s;

					&:hover {
						filter: grayscale(0.8);
					}
				}

				figcaption {
					color: $lightGray;
				}
			}
		}
	}
</style>
